<<<<<<< HEAD


<div class="dashboard-container">
  <div class="dashboard-navbar">
    <p class="p-big-black-bold">Dashboard</p>
    <div class="profile-info">
      <p class="p-black">Alfredo</p>
      <p>img</p>
=======
<div class="dashboard-container">
  <div class="dashboard-navbar-wrapper">
    <div class="dashboard-navbar">
      <p class="p-big-black-bold">Dashboard</p>
      <div class="profile-info">
        <p >ALFREDO</p>
        <%= image_tag("cover", class: "avatar") %>

      </div>
>>>>>>> name-to-user
    </div>
  </div>

  <div class="thisweek-container">
    <div class="stats-container">
      <p class="p-gray">Saved to favorites</p>
      <p class="p-big-black">14</p>
    </div>
    <div class="stats-container">
      <p class="p-gray">To deliver</p>
      <p class="p-big-black">9</p>
    </div>
    <div class="stats-container">
      <p class="p-gray">Delivered</p>
      <p class="p-big-black">13</p>
    </div>
  </div>

  <div class="alltime-container">
    <div class="graph-wrap">
      <div class="graph-container">
        <h3 class="p-big-black">STATS</h3>
        <div>Graph here</div>
      </div>
    </div>
    <div class="stats-wrap">
      <div class="graph-stats">
        <p >Delivered</p>
        <p class="graph-number">56</p>
      </div>
      <div class="graph-stats">
        <p >Average delivery time</p>
        <p class="graph-number">1 day</p>
      </div>
    </div>
  </div>

  <div class="orders-wrap">
    <div class="orders-container">
      <h3 class="p-big-black">YOUR ORDERS</h3>
      <div class="orders-table">
        <div class="orders-title-container">
          <div class="order-title">
            <div class="order-title-text">
              <p class="p-gray">Name</p>
            </div>
          </div>
          <div class="order-title">
            <div class="order-title-text">
              <p class="p-gray">Customer</p>
            </div>
          </div>
          <div class="order-title">
            <div class="order-title-text">
              <p class="p-gray">Status</p>
            </div>
          </div>
        </div>
        <% @user.product_orders.where.not(quantity: 0).each do |product_order| %>
        <div class="order-card">
          <div class="order-name">
            <%= cl_image_tag(product_order.product.photo, width: 40, height: 40, class: "order-image-profile") %>
            <p class="p-darkgray"><%= product_order.product.name %></p>
          </div>
          <div class="order-customer">
            <p class="p-darkgray"><%=  product_order.order.user.present? ? product_order.order.user.name : "Unknown" %></p>
          </div>
          <div class="order-status">
            <p class="p-darkgray"><%= product_order.order.status.capitalize! %></p>
          </div>
        </div>
        <div class="line-dashboard"></div>

        <% end %>
      </div>
    </div>
  </div>
</div>
