<div id="info-modal<%= product.name.gsub(" ","") %>" class="modal fade right bd-example-modal-lg" data-spy="scroll" data-target="#myScrollspy" data-offset="20">
  <div class="modal-dialog modal-dialog modal-lg" role="document">
    <div class="modal-content info-modal">
      <div class="product-producer-info-scroll">
        <div class="product-page-section">
          <h3><%= product.name %></h3>
          <p class="about-producer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, quaerat distinctio. Et dolores adipisci qui placeat sit eligendi veniam facere explicabo non assumenda, necessitatibus nisi aliquid excepturi voluptatibus. Animi, consequatur!</p>
        </div>
        <div class="section-map">
        <h3 class="h3-category" id="producer-location">Location</h3>
        <div class="card-map"><img class="info-modal-img" src="https://map.viamichelin.com/map/carte?map=viamichelin&z=10&lat=40.49295&lon=-3.87515&width=550&height=382&format=png&version=latest&layer=background&debug_pattern=.*" alt=""></div>
        </div>
      </div>
      <div class="product-info">
        <div class="product-modal-title">
          <h3 class="h3-category" >"Alfredo Perez" <br> <%= product.name %> </h3>
          <div class="product-page-price">
            <h4>Price: €<%= product.price %></h4>
          </div>
        </div>
      </div>
      <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
    </div>
  </div>
</div>













