<% unless controller_name == 'users'  %>
<% white = false unless local_assigns.has_key? :white %>
<div class="navbar-container <%= 'navbar-white' if white %>">
  <div class="brand-container">
    <% logo = controller_name == "pages" ? "logowhite.png" : "logoblack.png" %>
    <%= link_to image_tag(logo, width: 70, height: 70), root_path, class: "nav-link link-white" %>
  </div>
  <div class="links-container">

    <% if user_signed_in? %>

      <% unless controller_name == "pages" %>
      <%= link_to "POST PRODUCE", new_product_path, class:"nav-link link-white link-black" %>
        <%= link_to "PROFILE", profile_path, class:"nav-link link-white link-black" %>
        <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class:"nav-link link-white link-black" %>
        <button type="button" class="nav-link link-white" data-toggle="modal" style="" data-target="#ModalCart" id='cart-open-button'><%= cl_image_tag("shopping-cart_xevyu2", width: 28, height: 28) %></button>
      <% end %>

      <% if controller_name == "pages" %>
       <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class:"nav-link link-white" %>
      <% elsif controller_name != "products" %>
        <%= link_to "CART", update_cart_path(@order), class: "nav-link link-white", id: "cart-button", remote: true %>
      <% end %>

    <% else %>

      <% if controller_name == "pages" %>
        <button type="button" class="nav-link link-white" data-toggle="modal" data-target="#Modal1" id='sign-in-button'>
          SIGN IN
        </button>
        <button type="button" class="nav-link link-white" data-toggle="modal" data-target="#Modal2">
        SIGN UP
        </button>

      <% else %>
        <button type="button" class="nav-link link-white link-black" data-toggle="modal" style="opacity:0;" data-target="#ModalCart" id='cart-open-button'></button>

        <button type="button" class="nav-link link-white link-black" data-toggle="modal" data-target="#Modal1" id='sign-in-button'>
          SIGN IN
        </button>
        <button type="button" class="nav-link link-white link-black" data-toggle="modal" data-target="#Modal2">
        SIGN UP
        </button>
      <% end %>


      <% unless controller_name == "pages" %>
        <%= link_to cl_image_tag("shopping-cart_xevyu2", class: "basket-img", width: 28, height: 28, crop: :fill), update_cart_path(@order), class: "nav-link link-white", id: "cart-button", remote: true %>
      <% end %>

    <% end %>
  </div>
</div>
<% end %>
