<div class='payment-container'>
  <div class='payment-card'>
    <h1>Checkout</h1>
    <div class='checkout-form'>
    <form action="/action_page.php">
    Billing Address: <br> <input type="text" name="fname">
    </form>
    </div>
    <div class='checkout-form'>
    <form action="/action_page.php">
    Shipping Address: <br> <input type="text" name="fname">
    </form>
    </div>

  <div class='card-fields'>
    <div class='checkout-form'>
      <form action="/action_page.php">
    Card Number: <br> <input type="text" name="fname">
    </form>
    </div>
    <div class='checkout-form'>
      <form action="/action_page.php">
    Expiration Date: <br> <input type="text" name="fname">
    </form>
    </div>
    <div class='checkout-form'>
      <form action="/action_page.php">
    CVV: <br> <input type="text" name="fname">
    </form>
    </div>
  </div>

    <%= form_tag order_payments_path(@order) do %>
      <article>
        <label class="amount">
          <span>Amount: <%= humanized_money_with_symbol(@order.price_cents) %></span>
        </label>
      </article>


      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="Produce Order"
        data-email="<%= current_user.email %>"
        data-description="Order <%= @order.id %>"
        data-amount="<%= @order.price_cents %>"
        data-currency="EUR"></script>
    <% end %>
    <p><%= link_to 'Go back home', root_path %></p>

  </div>
</div>
