<div class="shop-container">
  <div class="sidebar-container">
    <% @categories.each do |category| %>
    <h2 class="p-big-black"><%= category %></h2>
    <% end %>
  </div>

  <div class="categories-container">
    <% @categories.each do |category| %>

    <div class="category-container">
      <h2 class="h3-category"><%= category %></h2>

      <div class="cards-container">
        <% @products.where(category: category).each do |product| %>
        <div class="card-vertical" style="background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0)),
         url('<%= cl_image_path product.photo, height: 300, width: 400, crop: :fill %>')">
          <div class="product-info-container">
            <div class="product-description">
              <p class="p-white"><%= product.name %></p>
              <div class="product-info-price p-white"><%= humanized_money_with_symbol(product.price) %>
              </div>
            </div>
            <div class="product-info-btn">
              <div class="btn-plusminus">
                <%= link_to "-", remove_from_cart_path(product.id), class: "btn-plusminus-minus link-big-white", remote: true %>
                <div class="btn-plusminus-amount link-big-white" id="product-quantity"><%= @order.product_orders.where(product_id: product.id).last.quantity %></div>
                <%= link_to "+", add_to_cart_path(product.id), class: "btn-plusminus-plus link-big-white", remote: true %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>

    </div>

    <% end %>
  </div>

</div>

