<div class="shop-container">
  <div class="sidebar-container">
    <% @categories.each do |category| %>
    <h2 class="p-big-black"><%= category %></h2>
    <% end %>
  </div>
<%= @order %>
  <div class="categories-container">
    <% @categories.each do |category| %>
    <div class="category-container">
      <h2 class="h3-category"><%= category %></h2>
      <div class="cards-container">
        <% @products.each do |product| %>
        <% if product.category == category %>
        <div class="card-vertical">
          <div class="product-info-container">
            <div class="product-description">
              <p class="p-white"><%= product.name %></p>
              <div class="product-info-price p-white"><%= product.price %></div>
            </div>
            <div class="product-info-btn">

              <% @order.product_orders.each do |product_order| %>
              <%= product_order.quantity %>
              <% if product_order.product == product %>
              <a href="#" class="btn-plusminus">
                <div class="btn-plusminus-minus link-big-white">-</div>
                <div class="btn-plusminus-amount link-big-white"><%= product_order.quantity %></div>
              <% end %>
              <% end %>
              </a>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>

